@using Microsoft.AspNetCore.Identity;

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model MyPetCreateViewModel

<form asp-action="Create" method="post">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                Add new pet <i class="bi bi-box2-heart"></i>
            </h2>
            <hr />
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="PetTypeId"></label>
            <input asp-for="PetTypeId" class="form-control"/>
            <span asp-validation-for="PetTypeId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="PetBreedId"></label>
            <input asp-for="PetBreedId" class="form-control"/>
            <span asp-validation-for="PetBreedId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            @*Getting id of the authenticated user here ?*@
            <input asp-for="UserId" value="@UserManager.GetUserId(User)" hidden />
        </div>

        <div class="mb-3">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control"/>  
            <span asp-validation-for="Description" class="text-danger"></span>

        </div>
        
        <button type="submit" class="btn btn-primary" style="width:150px">
            Create
        </button>
        <a asp-controller="MyPet" asp-action="Index" class="btn btn-secondary" style="width:250px">
            Cancel
        </a>
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" /> 
    }
}
