@model MyPetCreateViewModel

<form method="post" asp-action="Delete">
    <input asp-for="Id" hidden/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                Are you sure you want to remove your pet? <i class="bi bi-emoji-frown"></i>
            </h2>
            <hr />
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" disabled class="form-control"/>
        </div>

        <div class="mb-3">
            <label>Pet Type</label>
            <select asp-for="PetTypeId" asp-items="Model.PetTypes" disabled class="form-control"></select>
        </div>

        <div class="mb-3">
            <label>Pet Breed</label>
            <select asp-for="PetBreedId" asp-items="Model.PetBreeds" disabled class="form-control"></select>
        </div>

        <div class="mb-3">
            <label asp-for="Description"></label>
            <input asp-for="Description" disabled class="form-control"/>  
        </div>

        <button type="submit" class="btn btn-danger" style="width:150px">
            Delete
        </button>
        <a asp-controller="MyPet" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-secondary" style="color:lightgreen">
            Cancel
        </a>
        <a asp-controller="MyPet" asp-action="Index" class="btn btn-secondary">
            All your pets
        </a>
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" /> 
    }
}
