@model MyPetIndexViewModel

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary"> 
                MyPets 
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="MyPet" asp-action="Create" class="btn btn-primary"> 
                <i class="bi bi-plus-circle"></i>
                Add your pet
             </a>
        </div>
    </div>
</div>

@if(Model.MyPets.Count() == 0)
{
    <br /><br />
    <div class="text-center">
    <h1 class="text-primary">You don't have any pets yet, 
        <a asp-controller="MyPet" asp-action="Create">
        add</a> one now!</h1>
    <br />
    <img src="~/images/no-data-cat.png" class="img-fluid w-50"/>
    </div>
} 
else
{
    <div class="row">
         @foreach(var pet in Model.MyPets) {
            <div class="card mb-3 me-2" style="max-width: 500px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="~/images/maca.jpg" class="img-fluid rounded-start pt-1 pb-1 alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">@pet.Name</h5>
                    <p class="card-text">@pet.Description</p>
                    <p><a asp-controller="MyPet" asp-action="Details" asp-route-id="@pet.Id">
                        More about this pet
                        </a></p>
                  </div>
                </div>
              </div>
            </div>
         }
    </div>
}