@model PetCreateViewModel

<form method="post" asp-action="Buy">
    <input asp-for="Id" hidden/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                Are you sure you want to buy this pet? <br />
                We are sure you won't regret this decision!
            </h2>
            <hr />
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" readonly class="form-control"/>
        </div>
         <div class="mb-3">
            <label>Pet Type</label>
            <select asp-for="PetTypeId" asp-items="Model.PetTypes" disabled class="form-control"></select>
        </div>
        <div class="mb-3">
            <label>Pet Breed</label>
            <select asp-for="PetBreedId" asp-items="Model.PetBreeds" disabled class="form-control"></select>
        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <input asp-for="Description" readonly class="form-control"/>  
        </div>

        <div class="mb-3">
            <label asp-for="Price"></label>
            <input asp-for="Price" readonly class="form-control"/>  
        </div>

        <input asp-for="IsSold" value="True" hidden checked="checked"/>

        <button type="submit" class="btn btn-success">
            Buy it now!
        </button>
        <a asp-controller="Pet" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-secondary">
            Cancel
        </a>
        <br /><br />
        <h6 class="text-success">
            After buying this pet, it will automatically be added to the list of your pets. <br />
            Don't forget to add a picture for it after you pick up your new pet from our shop!
        </h6>
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" /> 
    }
}
