@model PetCreateViewModel

<form asp-action="Create" method="post" enctype="multipart/form-data">
@*    <input asp-for="Id" hidden/> *@    
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                Add new pet <i class="bi bi-box2-heart"></i>
            </h2>
            <hr />
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label>Pet Type</label>
            <select asp-for="PetTypeId" asp-items="Model.PetTypes" class="form-control"></select>
            <span asp-validation-for="PetTypeId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label>Pet Breed</label>
            <select asp-for="PetBreedId" asp-items="Model.PetBreeds" class="form-control"></select>
            <span asp-validation-for="PetBreedId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control"/>
            <span asp-validation-for="Price" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control"/>  
            <span asp-validation-for="Description" class="text-danger"></span>

        </div>

        <div class="mb-3">
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <div class="custom-file">
                     <input asp-for="Picture" class="custom-file-input" />
                </div>
                <span asp-validation-for="Picture" class="text-danger"></span>
             </div>
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px">
            Create
        </button>
        <a asp-controller="Pet" asp-action="Index" class="btn btn-secondary" style="width:250px">
            Go back to the list of pets
        </a>
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" /> 
    }
}

