@model DashboardViewModel

<html>
    <head>
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    </head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-6">

            <div class="small-box bg-info"> 
            <div class="inner">
            <h3>@Model.AvailablePetsCount</h3>
            <p>Available pets</p>
            </div>
            <div class="icon">
            <i class="fa fa-paw"></i>
            </div>
            <a asp-controller="Pet" asp-action="Available" class="small-box-footer">More info <i class="bi bi-arrow-right-circle-fill"></i></a>
            </div>
            </div>

            <div class="col-lg-3 col-6">

            <div class="small-box bg-success">
                <div class="inner">
                    <h3>@Model.SoldPetsCount</h3>
                    <p>Sold pets</p>
                </div>
            <div class="icon">
            <i class="fa fa-cat"></i>
            </div>
            <a asp-controller="Pet" asp-action="Unavailable" class="small-box-footer">More info <i class="bi bi-arrow-right-circle-fill"></i></a>
            </div>
            </div>

            <div class="col-lg-3 col-6">

            <div class="small-box bg-warning">
            <div class="inner">
            <h3>@Model.UsersCount</h3>
            <p>User Registrations</p>
            </div>
            <div class="icon">
            <i class="fa fa-user"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="bi bi-arrow-right-circle-fill"></i></a>
            </div>
            </div>

            <div class="col-lg-3 col-6">

            <div class="small-box bg-danger">
            <div class="inner">
            <h3>@Model.AppointmentsCount</h3>           
            <p>Booked appointments</p>
            </div>
            <div class="icon">
            <i class="fa fa-calendar"></i>
            </div>
            <a asp-controller="Appointment" asp-action="Index" class="small-box-footer">More info <i class="bi bi-arrow-right-circle-fill"></i></a>
            </div>
            </div>

            </div>
    </div>
       
    
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>
</body>
</html>